logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
coverage.lcov
.grunt
.lock-wscript
build/Release
node_modules
.npm
.node_repl_history
package-lock.json
.nyc_output

.DS_Store
*.sqlite
*.env
dist

dump.rdb

.idea
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
Session.vim

check_email_func.js
src/templates/email/.styled/*
src/templates/email/.old/*
bin/gmail_token/*
bin/get_sendgrid_templates.js
.elasticbeanstalk
